{# <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            {{ pattern('text',{
              title: title
            })}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{ pattern('text',{
              title: title
            })}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{ pattern('text',{
              title: title
            })}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{ pattern('text',{
              title: title
            })}}
          </a>
        </li>
      </ul>
  </div>
</nav> #}

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Galeria de video
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Iniciar secion
          </a>
        </li>
      </ul>
  </div>
</nav>